build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/SchoolRegister.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.0/CMakeCCompiler.cmake
build/CMakeFiles/3.25.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.0/CMakeRCCompiler.cmake
build/CMakeFiles/3.25.0/CMakeSystem.cmake
build/CMakeFiles/3.25.0/VCTargetsPath.txt
build/CMakeFiles/3.25.0/VCTargetsPath.vcxproj
build/CMakeFiles/3.25.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.0/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.25.0/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.25.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.25.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.25.0/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.25.0/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.25.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.25.0/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.25.0/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/4b4cd4e8be509f0911c362a50e018485/generate.stamp.rule
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/settings.json
